[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.14"
dependencies = [
    "django>=6.0",
    "python-dotenv>=1.2.1",
    "supabase>=2.25.0",
]
